[ds4drv]

[controller:1]
profiles = drive,arm,off

[profile:drive]
led = ff0000

[profile:arm]
led = 0000ff

[profile:off]
led = 00ff00

[bindings]
PS+Up = load-profile drive
PS+Down = load-profile off
PS+Right = load-profile arm

PS = exec-background sh -c 'echo "$profile" > /tmp/robot_joystick_mode.txt'

